<div class="logo-top">
LA BANDE A ESTINE
</div>
<div class="container-menu">
  <ul class= "home-menu">
    <li class="item-menu">
      <%= link_to "/", class: "underline" do %>
      ACCUEIL
      <% end %>
    </li>
    <li class="item-menu">
      <%= link_to principle_path, class: "underline" do %>
      LE CONCEPT
      <% end %>
    </li>
    <li class="item-menu">
      <%= link_to headbands_path, class: "underline" do %>
      SHOP
      <% end %>
    </li>
    <li class="item-menu">
      <%= link_to about_path, class: "underline" do %>
      A PROPOS DE NOUS
      <% end %>
    </li>
    <li class="item-menu">
      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>
        <!-- Profile picture and dropdown -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <%= link_to "#", class: "dropdown-toggle navbar-link navbar-link-user", id: "navbar-menu", "data-toggle" => "dropdown" do %>
            <% if current_user %>
              <%= current_user.email %> <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            <% end %>
          <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to cart_path(current_user) do %>
                  <i class="fa fa-tachometer"></i> <%= t(".profile", default: "Mon panier") %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <%= link_to new_user_registration_path do %>
        MON COMPTE
        <% end %>
      <% end %>
    </li>
  </ul>
</div>





