<div class="container-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 collection">
        <div class="card-image " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "estine.png"%>);">
        </div>
      </div>
      <div class="col-sm-7 collection">
        <div class="card-image " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "nous1.JPG"%>);">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 collection">
        <div class="card-image " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau3.png"%>);">
        </div>
      </div>
      <div class="col-sm-5 collection">
        <div class="card-image " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau5.png"%>);">
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="text-category">
      <h5><strong>ABOUT US</strong></h5>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7 collection">
          <div class="card-image-about" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau1.png"%>);">
          </div>
        </div>
        <div class="col-sm-5 about-text">
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui, ullam sint non. Beatae, modi. Aperiam officiis iusto nesciunt ipsa qui dolorum molestiae earum recusandae hic.</h6>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui, ullam sint non. Beatae, modi. Aperiam officiis iusto nesciunt ipsa qui dolorum molestiae earum recusandae hic.</h6>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui temporibus dolorem inventore qui  </h6>
          <%= link_to principle_path, class: "button-read-more" do %>
          <h6>READ MORE</h6>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="shop">
    <div class="text-category">
      <h5><strong>SHOP</strong></h5>
    </div>
    <div class="container-fluid">
      <div class="row" id="shop-text">
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui, ullam sint non. Beatae, modi. Aperiam officiis iusto nesciunt ipsa qui dolorum molestiae earum recusandae hic.
          </h6>
      </div>
      <div class="row">
        <div class="col-sm-6 collection">
          <%= link_to headbands_path(:category => "1") do %>
          <div class="card-image-shop", id="s", style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "s.jpg"%>);">
          <div class="season">
            <h6>SPRING / SUMMER</h6>
          </div>
          </div>
          <% end %>
        </div>
        <div class="col-sm-6 collection">
          <%= link_to headbands_path(:category => "2") do %>
          <div class="card-image-shop", id="w", style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "w.png"%>);">
          <div class="season">
            <h6>AUTOMN / WINTER</h6>
          </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>






