<div class="container-home">
<br>
<br>
      <div class="row">
        <div class="col-sm-7">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="card-image-photo " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau1.png"%>);">
                </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <div class="card-image-photo " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau2.png"%>);">
                </div>
                <div class="carousel-caption">
                </div>
              </div>
                  <div class="item">
                <div class="card-image-photo " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau3.png"%>);">
                </div>
                <div class="carousel-caption">
                </div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="button-add-to-cart">
            <h5>AJOUTER A MON PANIER <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></h5>
          </div>
<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Composition
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Livraison et retour
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Livraison et retour
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
              </div>
            </div>
          </div> -->
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#description" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
              <li role="presentation"><a href="#composition" aria-controls="composition" role="tab" data-toggle="tab">Composition</a></li>
              <li role="presentation"><a href="#livraison" aria-controls="livraison" role="tab" data-toggle="tab">Livraison et retour</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="description">
              <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas fugit voluptatem illo officiis, laudantium, ipsa sint cumque at dicta nihil tempore temporibus eveniet velit ut labore, nobis esse iste consequuntur.</div>
              <div role="tabpanel" class="tab-pane" id="composition"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aperiam quisquam nobis sequi esse aut assumenda nemo eum magni, eveniet ab veniam veritatis, error, sit voluptate molestias officia consectetur unde.</div>
              <div role="tabpanel" class="tab-pane" id="livraison"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptas eius esse totam sit molestias, labore alias dolorem deserunt doloribus, placeat a unde, tenetur sapiente quibusdam? Veritatis temporibus reprehenderit perspiciatis?</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-headband-title">
        <h4><strong>QUI EST-TU ESTINETTE <%= @headband.name.upcase %> ? </strong></h4>
      </div>
      <div class="row">
          <div class="col-sm-4">
            <div class="principe" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau4.png"%>);">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card-text-model-presentation">
              <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui, ullam sint non. Beatae, modi. Aperiam officiis iusto nesciunt ipsa qui dolorum molestiae earum recusandae hic.</h6>
              <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui, ullam sint non. Beatae, modi. Aperiam officiis iusto nesciunt ipsa qui dolorum molestiae earum recusandae hic.</h6>
              <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui temporibus dolorem inventore qui  </h6>
              <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui, ullam sint non. Beatae, modi. Aperiam officiis iusto nesciunt ipsa qui dolorum molestiae earum recusandae hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui temporibus dolorem inventore qui</h6>
              <div class="button-add-to-cart">
                <h6>AJOUTER <%= @headband.name.upcase %> A MON PANIER <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></h6>
              </div>
            </div>
          </div>
      </div>
</div>
